body {
  margin: 0;
  padding: 0;
  background-color: #0a1d4d;
  overflow: auto;
}

.splash-container {
  height: 100vh;
  background-color: #0a1d4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hex-wrapper {
  position: relative;
  margin-top: 80px;
  width: 350px;
  height: 350px;
}

.hex-svg {
  width: 100%;
  height: 100%;
}

/* Common hexagon styles */
.hex {
  top: 90%;
  left: 75%;
  fill: none;
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: drawHex 2.5s ease forwards;
}

.hex-inner {
  stroke-width: 3;
  animation: drawHexReverse 2.5s ease forwards;
}

/* Hexagon animation clockwise */
@keyframes drawHex {
  to {
    stroke-dashoffset: 0;
  }
}

/* Inner hexagon animation counter-clockwise */
@keyframes drawHexReverse {
  0% {
    stroke-dashoffset: -600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.am-text {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-family: "tigreal free outline";
  font-weight: 700;
  color: white;
  opacity: 0;
  animation: fadeInText 2.5s ease forwards;
}

.splash-name {
  font-size: 5rem;
  font-family: "Agustina Regular";
  color: white;
  margin-top: 0.25rem;
  opacity: 0;
  animation: fadeInText 2.5s ease forwards;
  animation-delay: 2.5s;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}




