/* === Container === */
.greeting-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px 10px;
  margin: 4rem auto 0 auto;
}

/* === Title Animation === */
.name-slide-in {
  opacity: 0;
  transform: translateY(-40px);
  animation: slideFadeIn 1s ease-out forwards;
}

/* === Subtitle Animation with Delay === */
.subtitle-slide-in {
  opacity: 0;
  transform: translateY(40px);
  animation: slideFadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

/* === Keyframes === */
@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === Text Styles === */
.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
  margin-top: 80px;
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

/* === Responsive Styles === */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .greeting-main {
    display: block;
    text-align: center;
  }

  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .greeting-nickname {
    font-size: 25px;
  }

  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
  }

  .button-greeting-div {
    justify-content: space-around;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  @keyframes slideFadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
